{% extends "basic.html" %}

{% block content %}
    <div class="jumbotron">
    <p>Let's get a look if the username is checked!</p>
        {% if report %}
            <p>Congrats! All requirements for username is checked</p>
        {% else %}
        <ul>
            {% if not lower %}
            <li>The username must have a lower case</li>
            {% endif %}
        
            {% if not upper %}
            <li>The usename must have a upper case letter</li>
            {% endif %}
        
            {% if not last_char %}
            <li>The username must have the last character as a number.</li>
            {% endif %}
        </ul>
    {% endif %}
    </div>
{% endblock %}



